ion-icon {
  color: red;
  font-size: 24px;
}

#container {
  text-align: center;
}

.center {
  text-align: center
}

.good {
  color: #4ea832;
  font-weight: bold;
}

.bad {
  color: #ff1c2b;
  font-weight: bold;
}

.comment {
  font-style: italic;
  color: #555;
}
